.app__effectsCollection {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__effectsCollection-container {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: visible;
    transition: var(--transition);
    padding: 0.8rem;
}

.app__effectsCollection-container::-webkit-scrollbar {
    background-color: var(--color-bg);
}

.app__effectsCollection-container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 2rem;
}

.app__effectsCollection-effect {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0.7rem;
    transition: all 1.4s ease;
    min-width: 25%;
    min-height: 30%;
    z-index: 5;
}

.app__effectsCollection-effect:hover {
    flex: 10 !important;
    box-shadow: 0 5px 15px var(--color-primary);
    transform: translateY(-1%) scale(102%);
}

.app__effectsCollection-effect h1 {
    text-transform: uppercase;
    text-align: center;
    transition: var(--transition);
    color: var(--color-text-main);
}

.app__effectsCollection-signature {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}